<h1>Items</h1>

<% if @items.empty? %>
  <b>No items in store</b>
<% else %>
<table>
  <tr>
    <th>item id</th>
    <th>Name</th>
    <th>Price</th>
  </tr>

  <% @items.each do |i| %>

    <tr>
      <td><%= i.id %></td>
      <td><%= link_to i.name, item_path(i) %></td>
      <td><%= i.price %> руб.</td>
    </tr>

  <% end %>

</table>

<% end %>
