// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.adminPanel { width: 90%; margin-bottom: 1em; background-color: blue; padding: 1em; color: #fff; }
